.introducao{
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

@media(max-width: 800px){
  .introducao{
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}

@media(max-width: 750px){
  .introducao{
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  h1{
    font-size: 3rem;
  }
  p{
    font-size: 1rem;
  }
}

.introducao h1{
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  color: #3F5A3F;
  position: relative;
}

@media(max-width: 1000px){
  .introducao h1{
    font-size: 3rem;
    margin-top: -20px;
  }
}

@media(max-width: 300px){
  .introducao h1{
    font-size: 2rem;
    margin-top: -20px;
    margin: 0 auto;
  }
}

.introducao h1::before {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  background: url("../imgs/body/flor.svg") no-repeat;
  position: absolute;
  top: -40px;
  left: -25px;
  z-index: -1;
}

/* @media(max-width: 750px){
  .introducao h1::before {
    position: absolute;
    max-width: 400px;
    max-height: 400px;
    top: -50px;
    left: 100px;
    margin: 0 auto;
  }
} */

@media(max-width: 750px){
  .introducao h1::before {
    display: none;
  }
}
/*   .introducao h1::before {
    position: absolute;
    max-width: 300px;
    max-height: 400px;
    top: -50px;
    left: 190px;
    margin: 0 auto;
  } */

.introducao h1::after{
  content: "";
  background: url("../imgs/body/graminha.svg") no-repeat ;
  position: absolute;
  height: 500px;
  width: 500px;
  top: 320px;
  left: -25px;
}

@media(max-width: 1000px){
  .introducao h1::after{
    content: "";
    background: url("../imgs/body/graminha.svg") no-repeat ;
    position: absolute;
    height: 350px;
    width: 350px;
    top: 238px;
    left: -25px;
  }
}

@media(max-width: 750px){
  .introducao h1::after{
    display: none;
  }
}

.introducao p{
  font-size: 1.5rem;
  line-height: 1.5;
  color: #3F5A3F;
  position: relative;
}

@media(max-width: 1000px){
  .introducao p{
    font-size: 1.4rem;
    margin-top: -20px;
  }
}

@media(max-width: 300px){
  .introducao p{
    font-size: 1rem;
    margin-top: -20px;
    margin: 0 auto;
  }
}

.introducao p img.planeta{
  position: absolute;
  top: -8px;
  left: 270px;
}

@media(max-width: 1000px){
  .introducao p img.planeta{
    top: -8px;
    left: 240px;
  }
}

@media(max-width: 750px){
  .introducao p img.planeta{
    display: none;
  }
}

